In [8]:
a = {1,2,3,4}
print(type(a))
print(isinstance(a,set))
print(a)

<class 'set'>
True
{1, 2, 3, 4}

In [11]:
a ={1,1,2,2,3,3,4,4}
print(a)

{1, 2, 3, 4}

In [3]:
a=['one','two','one','two']
print(a)
b=list(set(a))#to get (set with list)--we should create a list to get output
print(b)
print(type(b))
print(a.index('one'))
#duplicate value not define in list we convert has set then we execute

['one', 'two', 'one', 'two']
['one', 'two']
<class 'list'>
0

In [18]:
a={'one','two','three'}
print(a)
print(a.index('one'))
#in set{} index,rindex will not come

{'one', 'three', 'two'}

AttributeError: 'set' object has no attribute 'index'

In [23]:
a={1,2,3,4}
b={3,4,5,6}
print(a.union(b))
print(a.intersection(b))
print(a.difference(b))
print(b.difference(a))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{5, 6}

In [27]:
a={1,2}
b={1,2,3,4}
print(a.issuperset(b))

print(b.issuperset(b))

print(a.issubset(b))

print(b.issubset(a))

False
True
True
False

In [33]:
a={1,2,3,5,6,4}
print(a)
print(a.add(7))
print(a)
print(a.remove(4))
print(a)

{1, 2, 3, 4, 5, 6}
None
{1, 2, 3, 4, 5, 6, 7}
None
{1, 2, 3, 5, 6, 7}

In [57]:
##dictionary
a={'name':'kumar','age':40,'location':'chennai'}
print(type(a))
print(isinstance(a,dict))
print(len(a))
print(sorted(a))
print(max(a))
print(min(a))
print(a['name'])
print(a.get('name'))
#print(a['time'])
print(a.get('time'))

<class 'dict'>
True
3
['age', 'location', 'name']
name
age
kumar
kumar
None

In [63]:
a={'name':'kumar','age':40,'location':'chennai'}
print(a.keys())
print(a.values())
print(a.items())
a['time']=123
print(a)
print(a['time'])

dict_keys(['name', 'age', 'location'])
dict_values(['kumar', 40, 'chennai'])
dict_items([('name', 'kumar'), ('age', 40), ('location', 'chennai')])
{'name': 'kumar', 'age': 40, 'location': 'chennai', 'time': 123}
123

In [70]:
#operators

#arithmatic operators
a=5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a**b)
print(a/b)
print(a//b)##floor division ----quotient
print(a%b)## modulus ---remainder

7
3
10
25
2.5
2
1

In [77]:
#asssignment operators
a =5
#value to assign

#relation operators

a=5
b=5
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

True
False
False
False
True
True

In [84]:
#relational operators
print(True and True)
print(False and False)
print(False and True)
print(False or False)
print(True or False)
print(not True)

True
False
False
False
True
False

In [6]:
a={1,2,3,4}
b={3,4,5,6}
print(a.union(b))
print(a.intersection(b))
print(b.difference(a))

{1, 2, 3, 4, 5, 6}
{3, 4}
{5, 6}