In [1]:
a=1
b=4
print(a+b)

5

In [4]:
#function 
def test(a,b):
    print(a+b)

In [5]:
test(5,4)

9

In [6]:
def test(a,b,c):
    print(a+b+c)

In [7]:
test(1,5,3)

9

In [8]:
#return can use to add anywhere
def test(a,b):
    return(a+b)

In [9]:
a=test(5,4)

In [10]:
print(a)

9

In [11]:
b=test(a,5)
print(b)

14

In [15]:
a = "hi" #global variable
def test():
    global a
    a="hello" #local variable
    return(a)
print(a)
a=test()
print(a)

hi
hello

In [17]:
a = "hi" #global variable
def test():
    global a
    a="hello" #local variable
    print(a)
print(a)
test()
print(a)

hi
hello
hello

In [10]:
def get_ready(num):
    l=[]
    for i in range(num):
        if i %2 ==0:
            l.append(i)
    return l

In [14]:
a=get_ready(10)
print(a)
b=get_ready(20)
print(b)

[0, 2, 4, 6, 8]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
def fb_name(f_name,m_name,l_name):
    print("first name is", f_name)
    print("middle name is", m_name)
    print("last name is", l_name)

In [52]:
#positional argument
fb_name("anees","alam","sanjay")

first name is anees
middle name is alam
last name is sanjay

In [60]:
#keyword argument
#in keyword argument (positional argument should come first) other it will not execute
fb_name("anees",m_name ="sanjay",l_name="alam")

first name is anees
middle name is sanjay
last name is alam

In [61]:
#default add none in output
def fb_name(f_name=None,m_name=None,l_name=None):
    print("first name is", f_name)
    print("middle name is", m_name)
    print("last name is", l_name)

In [64]:
fb_name("anees",l_name="alam")

first name is anees
middle name is None
last name is alam

In [5]:
def get_details(anis,alam):
    if alam == "count":
        d={}
        for i in anis:
            d[i]=anis.count(i)
        return d
    elif alam =="unique":
        return set(anis)
    elif alam =="duplicate":
        l=[]
        f_list=[]
        for i in anis:
            if i in l:
                f_list.append(i)
            else:
                l.append(i)
        return f_list

In [6]:
a=["apple","mango","apple","lemon","mango"]
a=get_details(a,"unique")
print(a)

{'lemon', 'apple', 'mango'}

In [11]:
import math
math.pi

3.141592653589793

In [55]:
a="malayalam"
print(len(a))
print(int(3))
print(float(3))

9
3
3.0

In [1]:
def anees(a,b):
    print(a+b)

In [2]:
anees(5,4)

9

In [3]:
def anees(a,b):
    return(a+b)

In [4]:
a=anees(5,6)
print(a)

11

In [8]:
b=anees(a,5)
print(b)

16

In [18]:
def alam(f_name,m_name,l_name):
    print("my first name is",f_name)
    print("my middle name is",m_name)
    print("my last name is",l_name)

In [19]:
alam("sanjay","anaurag","karan")

my first name is sanjay
my middle name is anaurag
my last name is karan

In [63]:
def hero(anis,alam):
    if alam =="count":
        b={}
        for i in anis:
            b[i]=anis.count(i)
        return b
    elif alam =="unique":
        return set(anis)
    elif alam =="duplicate":
        l=[]
        f_list=[]
        for i in anis:
            if i in l:
                f_list.append(i)
            else:
                l.append(i)
        return f_list

In [64]:
a=["apple","orange","banana","apple","banana"]
a=hero(a,"duplicate")
print(a)

['apple', 'banana']

In [128]:
#nested loop
for i in range(10):
    for j in range(i):
        print(i,end=" ")
    print("\t")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [8]:
#palindrome-->is the value should same when you reverse it (eg: madam) 
a=input("Enter a value: ")

reverse = a[::-1]

if (a == reverse):
    print("it is a palindrome")
else:
    print("it's not a palindrome")

Enter a value: madam
it is a palindrome

In [3]:
#fibonacci series--is a sequence of interger number formed by the addition of the preceding TWO number in the series 
   #eg:0 + 1 =1

num=int(input("Enter a number: "))
n1,n2=0,1
sum=0
if num<=0:
    print("Enter a number than zero")
else:
    for i in range(0,num):
        print(sum,end=" ")
        n1=n2
        n2=sum
        sum=n1+n2

Enter a number: 5
0 1 1 2 3

In [119]:
#revision
def hero(anis,alam):
    if alam =="count":
        d={}
        for i in anis:
            d[i]=anis.count(i)
        return d
    elif alam =="unique":
        return set(anis)
    elif alam =="duplicate":
        l=[]
        f_list=[]
        for i in anis:
            if i in l:
                f_list.append(i)
            else:
                l.append(i)
        return f_list

In [126]:
a=["apple","banana","apple","orange"]
a=hero(a,"count")
print(a)

{'apple': 2, 'banana': 1, 'orange': 1}